# giteye
/.project

# kate
**/*.*.kate-swp
**/*.swp.*

# dolphin
.directory

#texstudio - latex
**/*.synctex.gz
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc

# pdf documenti finali (lascia versionati diagrammi UC)
**/AnalisiDeiRequisiti/*.pdf
**/Glossario/*.pdf
**/PianoDiProgetto/*.pdf
**/PianoDiQualifica/*.pdf
**/NormeDiProgetto/*.pdf
**/SpecificaTecnica/*.pdf
**/StudioDiFattibilita/*.pdf
**/Verbali/*.pdf
pdfdoc

#file di log
log.txt
summary_log.txt
backup_versioning_*.txt
